body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4 {
  font-family: "Rock Salt", cursive;
  color: #793601;
}

p,
span,
label,
input {
  font-family: "Quicksand", sans-serif;
  color: #793601;
}
